/* css-reset */
  
  body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  * {
  margin: 0;
  }
  
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
  input, button, textarea, select {
  font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  }
  
  #root, #__next {
  isolation: isolate;
  }
  
/* css below this line */

@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand_Bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand_Bold_Italic-webfont.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand_Italic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cartoonist Hand SC";
  src: url(./fonts/SF_Cartoonist_Hand_SC-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cartoonist Hand SC";
  src: url(./fonts/SF_Cartoonist_Hand_SC_Bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cartoonist Hand SC";
  src: url(./fonts/SF_Cartoonist_Hand_SC_Bold_Italic-webfont.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cartoonist Hand SC";
  src: url(./fonts/SF_Cartoonist_Hand_SC_Italic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}