/* css-reset */
  
  body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  * {
  margin: 0;
  }
  
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
  input, button, textarea, select {
  font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  }
  
  #root, #__next {
  isolation: isolate;
  }
  
/* css below this line */

/* used by default in body */
@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand_Bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

/* used for showing game status, contact info */
@font-face {
  font-family: "Cartoonist Hand";
  src: url(./fonts/SF_Cartoonist_Hand_Italic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

/* used in the start button */
@font-face {
  font-family: "Cartoonist Hand SC";
  src: url(./fonts/SF_Cartoonist_Hand_SC_Bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Cartoonist Hand", serif;
  font-weight: 700;
  font-style: normal;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
}

.game_status {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 0.5rem;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  margin: 0.5rem;
}

.boxes button {
  height: 100%;
  width: 100%;
  font-family: "Cartoonist Hand SC", serif;
  font-size: 8rem;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.start {
  height: 4rem;
  width: 10rem;
  font-size: 2rem;
  margin: 0.5rem;
}

address {
  font-weight: 400;
  font-style: italic;
  margin-top: 0.5rem;
}